.quis-columns-text {
	-moz-column-count: 6;
	-moz-column-gap: 2em;
	-moz-column-rule: thin solid #ddd;
	
	-webkit-column-count: 6;
	-webkit-column-gap: 2em;
	-webkit-column-rule: thin solid #ddd;
	
	-o-column-count: 6;
	-o-column-gap: 2em;
	-o-column-rule: thin solid #ddd;
	
	-ms-column-count: 6;
	-ms-column-gap: 2em;
	-ms-column-rule: thin solid #ddd;
	
	column-count: 6;
	column-gap: 2em;
	column-rule: thin solid #ddd;
}

.quis-googusers-area {
	background-image: -moz-linear-gradient(15deg, #FFF, #fdfdfd,#EEE,#FFF);
	background-image: -o-linear-gradient(15deg, #FFF, #fdfdfd,#EEE,#FFF);
	background-image: -webkit-linear-gradient(15deg, #fdfdfd, #DDD,#EEE,#FFF);
	background-image: -ms-linear-gradient(15deg, #FFF,#fdfdfd,#EEE,#FFF);
	background-image: linear-gradient(15deg, #FFF, #fdfdfd,#EEE,#FFF);
	
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0px 3px 3px rgba(180,180,180, 0.5);
	-o-box-shadow: 0px 3px 3px rgba(180,180,180, 0.5);
	-webkit-box-shadow: 0px 3px 3px rgba(180,180,180, 0.5);
	-ms-box-shadow: 0px 3px 3px rgba(180,180,180, 0.5);
	box-shadow: 0px 3px 5px rgba(180,180,180, 0.5);
	padding: 1em;
}



.quis_orange {
	color: orange;
} 
.quis_gray {
	color: gray;
} 
.quis_green {
	color: green;
} 

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-o-transition: opacity 100ms ease-in;
	-ms-transition: opacity 100ms ease-in;
	-moz-transition: opacity 100ms ease-in;
	transition: opacity 100ms ease-in;
	pointer-events: none;
}
 
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	background: -ms-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-o-box-shadow: 1px 1px 3px #000;
	-ms-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }



.users-delete-selected-actions {
    background: #f8f8f8;
		background-image: -webkit-linear-gradient(rgba(180, 226, 180, 0.31) 5%, #FFFFFF 50%);
		background-image: -moz-linear-gradient(rgba(180, 226, 180, 0.31) 5%, #FFFFFF 50%);
		background-image: -o-linear-gradient(rgba(180, 226, 180, 0.31) 5%, #FFFFFF 50%);
		background-image: -ms-linear-gradient(rgba(180, 226, 180, 0.31) 5%, #FFFFFF 50%);
		background-image: linear-gradient(rgba(180, 226, 180, 0.31) 5%, #FFFFFF 50%);
    border: 1px solid rgba(18, 165, 30, 0.12);
    
}
.quis-rule-unactive legend a {
	color: #ddd;
} 
.quis-rule-unactive {
	border: 1px solid #efefef;
}
 